<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="/detecttext/">1. Nhận dạng tiêu cực, tích cực văn bản</a>
  <div class=""></div>
  
  <a href="/lstm_graph/">2. Nhận dạng bạo lực hay không bạo lực dựa vào hành động</a>
  <div class=""></div>
  <a href="/headache_prediction/">3. Dự đoán về bệnh đau đầu </a>
  <div class=""></div>
  <a href="/multimodal_emotion/">4. Dự đoán cảm xúc dựa vào văn bản, âm thanh, video</a>
</body>
</html>